
<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Icon -->
    <div class="fadeIn first">
      <img src="assets/images/login.png" id="icon" alt="User Icon" />
    </div>

    <!-- Login Form -->
    <form>
      <input   required minlength="3" maxlength="10" ngModel name="username" #username="ngModel" type="text" id="login" class="fadeIn second"  placeholder="Username" >
      <div *ngIf="!username.valid && username.touched">
        <label class="alert alert-danger">UserName Required is required</label>
        <div *ngIf="username.errors.minlength">
          <label class="alert alert-danger">UserName Required is in min lenth</label>
        </div>
      </div>
      <input ngModel name="password" #password="ngModel"type="password"  id="password" class="fadeIn third"  placeholder="password">
      <input type="button" class="fadeIn fourth" value="Log In" (click)="login(username.value,password.value)">
      <input type="button" class="fadeIn fourth" value="Register" (click)="create(  )">
    </form>

    <!-- Remind Passowrd -->
    <!-- <div id="formFooter">
      <a class="underlineHover" href="#">Forgot Password?</a>
    </div> -->

  </div>
</div>
